.large-image-section {
  width: 100%;
  height: 80vh; /* Adjust height: 100vh for fullscreen */
  overflow: hidden;
  position: relative;
}

.large-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ensures the image scales nicely */
  display: block;
}
